{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container-fluid p-0">
        <img src="{% static 'assets/images/finance-01.png' %}" class="img-fluid w-100 " alt="finance">
    </div>


    <div id="dashboard" class="container-fluid" >
        <div class="flex">
            <div class="row md-10 justify-content-center text-center pt-4">
                <div class="col-4 border">[[ message ]]</div>
            </div>

            <div class="row justify-content-center pt-4">
                <div class="col-5">
                    <canvas id="pieChart"></canvas>
                </div>

                <div class="col-5">
                    <canvas id="lineChart"></canvas>
                </div>
            </div>

        </div>


    </div>




    <script type="module" src="{% static 'js/dashboard.js' %}"></script>



{% endblock %}