{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container mb-4">
    <div class="container gx-4 gx-lg-5 justify-content-center">
        <div class="row col-md-10 col-lg-10 col-xl-10">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table">
                    {{ form }}
                </table>
                <button class="btn btn-primary" type="submit">作成</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}