{% extends 'base.html' %}

{% load static %}

{% block head %}
{% endblock %}

{% block content %}


    <div class="container px-4 px-lg-5">
        <h1 class="mt-4">Diary</h1>
        <div class="d-flex justify-content-end">
            <a class="btn btn-primary" href="{% url 'diary:diary_create' %}"><i class="fa-solid fa-plus" style="font-size: 20px;"></i> New Diary</a>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% for diary in object_list %}
                <div class="post-preview">
                    <a href="{% url 'diary:diary_detail' diary.pk %}">
                        <h2 class="post-title">{{ diary.title }}</h2>
                        <h3 class="post-subtitle">{{ diary.subtitle}}</h3>
                    </a>

                    <div class="d-flex align-items-center">
                        <p class="post-meta"> Posted by {{ diary.user.username }} on {{ diary.created_at }} </p>
                        <a class="ms-auto mx-4 btn btn-sm btn-outline-danger" href="{% url 'diary:diary_delete' diary.pk %}">Delete</a>
                    </div>
                </div>
                <!-- Divider -->
                    <hr class="my-4">
                {% endfor %}
            </div>

            <!-- pagination -->
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% if is_paginated %}
                    <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}

                    {% for page_num in page_obj.paginator.page_range %}
                        {% if page_obj.number == page_num %}
                        <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                    </ul>
                {% endif %}

            </div>
        </div>
    </div>


{% endblock %}
