{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Page header -->

<div class="container-fluid my-2">
    <div class="d-flex justify-content-between">
        <div>
            <a class="btn btn-sm btn-outline-primary" href="{% url 'diary:diary' %}"><i class="fa-solid fa-arrow-left"></i>back to diary list</a>
        </div>

        <div>
            <a class="btn btn-sm btn-outline-info mx-2" href="{% url 'diary:diary_update' object.pk %}">Edit</a>
            <a class="btn btn-sm btn-outline-danger" href="{% url 'diary:diary_delete' object.pk %}">Delete</a>
        </div>
    </div>
</div>
<header class="masthead py-4" style="background-image: url({% static diary.image_path %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ object.title }}</h1>
                    <h2 class="subheading">{{ object.subtitle }}</h2>
                    <span class="meta">
                        Posted by {{ object.user.username }} at {{ object.created_at }}
                        {% if object.updated_at %}
                            <p>(Updated at {{ object.updated_at }})</p>
                        {% endif %}
                    </span>
                </div>

            </div>
        </div>
    </div>
</header>

<!-- Post content -->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-10 col-xl-10">
{#                <p>{{ object.content|linebreaksbr }}</p>#}
                {{ rendered_as_markdown|safe }}
            </div>
        </div>
    </div>
</article>

{% endblock %}