{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container px-4 px-lg-5">
        <h1 class="mt-4 px-4">Overview</h1>
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Shortcuts are the links to the pages that you frequently visit. Here are the shortcuts that you have set:</p>
            </div>

            <div id="overview" class="col-md-10 col-lg-8 col-xl-7">
                <div><em>This chart is drawn by EChart.</em></div>
                <canvas id="barchart" style="width: 600px; height: 400px;"></canvas>
            </div>
        </div>

    </div>

    <div class="container-fluid">

    </div>


    <script type="module" src="{% static 'js/overview.js' %}"></script>

{% endblock %}
